* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}

#logo {
    width: 250px;
}

#field-selection-LearnFrench {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas de igual tamanho */
    grid-template-rows: 1fr 1fr;    /* 2 linhas de igual tamanho */
    gap: 10px;
    height: 100%; /* Ocupará o restante da página */
    width: 100%;
    margin-top: 5% ;
    padding-inline: 15%;
    position: relative; /* Adiciona posição relativa para o efeito de sobreposição */
    opacity: 1; /* Mudar para 0*/
    transition: opacity 1s ease; /* Animação de transição */
}

.field-selector {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.selector_img {
    width: 15%;
    margin: 2%;
}

button {
    border: black;
    border-radius: 20px;
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    color: #ffffff;
}

#btn1, #btn4 {
    background-color: #4A90E2;
}

#btn2, #btn3 {
    background-color: #F5A623;
}